:root {
    --primary-color: #3f4650; /* Gray color used in header background*/
    --text-color: black;       /* black used for text color*/
    --background-color: white;  /* white used for background color */
}

body, h1, h2, p {
    margin: 0px;
    padding: 0px;

}
/* styles for body of page */
body {
    font-family:monospace,serif, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
    padding: 20px;
}
.container {
    max-width: 1200
    margin 0 auto;
    padding-right: 20px;
}
/* styles for header section */
header {
    text-align: left;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}
/* styles for h2 elements */
h2 {
    text-decoration: underline;
}
/* styles for navigation menu */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}
/* styles for content sections */
section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    
}
/* styles for elements with class "work" */
.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
}
.link {
    text-decoration: none;
    margin: 10px;
    transition: transform 0.3s ease;
}

.picture {
    max-width: 100%;
    height: 100px;
    border-radius: 5px;
    box-shadow: 10 10 8px 
}
.large {
    transform: scale(1.0);
}
/* Hover effect */
.link:hover .picture{
    transform: scale(1.1);
}
/* styles for image with class "image1" */
.image1
{
    float: right;
    height: 40px;
    padding: 10px;
    align-items: center;
}
/* styles for image with class "image2" */
.image2
{   float: left;
    height: 100px;
    width: 100px;
    align-items: center;
    padding: 10px ;

}
/* styles for the footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
}

/* media query for screens with a max width of 992px, adjust the navigation menu for smaller screens */

@media screen and (max-width:992px) {
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 1px 0;
    }
    
}









