:root {
    --primary-color: #414952;
    --text-color: #333;
    --background-color: #f0f0f0;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;

}

body {
    font-family:monospace, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: left;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
}

h2 {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    
}

.work {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
    .project img {
        max-width: 80%;
    }
}


